/*褰撳墠浣嶇疆*/
.dqwz{ width:998px; margin: 0px auto; clear: both; background: url(dqwz_09.gif) repeat-x; height: 29px; overflow: hidden; }
.dqwz h2{ font-size: 14px; font-weight: bold; color: #b91700; line-height: 29px; background: url(dqwz_05.jpg) no-repeat; padding-left: 12px; }
.dqwz h2 a{ color: #b91700; }
.dqwz span{ float:right; color: #333333; line-height: 28px; padding-right: 15px; }
.dqwz span a{ color: #333333; }

/*鍒楄〃椤�*/
.news_list{ clear: both; padding: 26px 30px 30px 20px; }
.news_list li{ padding-left:5px; font-size:14px; line-height: 30px; border-bottom: 1px  solid #ebebeb; }
.news_list li span{ float:right; color: #666666; }
.list_height{ height:30px; clear: both; line-height: 0px; font-size: 0px; margin:0px; padding:0px; }

/*鍐呭椤�*/
#myzj-content-border{ width:998px; margin: 0px auto; clear: both; border: 1px solid #e06b5a; height:auto; min-height:400px; _height:400px; padding-bottom: 40px; }
#content_border{ width:998px; margin: 0px auto; clear: both; border: 1px solid #e06b5a; background: url(nrbg.gif) repeat-x; height:auto; min-height:600px; _height:600px; padding-bottom: 40px; }
#content_tit{ font: 20px "榛戜綋"; color: #333333; text-align: center; clear: both; padding: 40px 20px 20px; }
#news_info{ text-align: center; padding-bottom: 15px; border-bottom: 1px  solid #bababa; clear: both; margin-right: 40px; margin-left: 40px; height: 15px; }
#news_info span{ padding-right: 8px; }
#content{ line-height: 25px; font-size: 14px; clear: both; color: #000000; margin: 0 40px; padding-top:30px;}
#content p{ line-height: 25px; margin:12px auto 0 auto;}
#content img{ margin: 5px auto; display: block; text-align: center; vertical-align: top; border: 1px solid #000000;}

.column-tit2{ clear:both; background: url(myzjlmbtbg1_06.gif) repeat-x; height: 31px; padding-right: 14px; padding-left: 14px; }
.column-tit2 h2{ font-size: 14px; font-weight: bold; color: #ca250f; padding-left: 10px; line-height: 29px; background: url(icon3_17.gif) no-repeat 0px 50%; }
.column-tit2 h2 a{ color: #ca250f; }
.column-tit2 span{ float:right; color: #333333; line-height: 29px; background: url(myzj-icon_18.jpg) no-repeat 0px 50%; height: 31px; width: 109px; padding-left: 11px; }
.column-tit2 span a{color: #333333;}

.wytw-area{ margin: 0px auto 14px; width: 950px; border: 1px solid #e9e9e9; clear: both; min-height:80px; _height:80px; }
.wytw-tit{ background: #eeeded; height: 24px; clear: both; padding-right: 15px; padding-left: 15px; }
.wytw-tit h1{ line-height: 24px; color: #000000; }
.wytw-tit span{ float: right; line-height: 24px; color: #000000; }
.wytw-tit strong{ padding-right: 6px; }
.wytw-nr{ line-height: 20px; padding: 8px 15px; }
.wytw-nr strong{padding-right: 6px;}

#wytw-form{ clear:both; padding-right: 77px; padding-left: 77px; padding-top: 40px; }
#wytw-form #bt{ height: 35px;clear:both; }
#wytw-form #bt #btwz{display: block; float: left; width: 56px; height: 35px;}
#wytw-form #bt #btinput{ display: block; float: left; width: 780px; height: 35px; }
#wytw-form .input{ height: 24px; width: 780px; border: 1px solid #bababa; line-height: 24px; }

#wytw-form #nr{ height: 240px; clear:both; }
#wytw-form #nr #nrwz{ display: block; float: left; width: 56px; height: 240px; }
#wytw-form #nr #nrtextarea{ display: block; float: left; width: 780px; height: 240px; }
#wytw-form .textarea{ height: 240px; width: 780px; border: 1px solid #bababa; }

#wytw-form #lzm{ height: 50px; clear:both; }
#wytw-form #lzm #lzmwz{ display: block; float: left; width: 56px; padding-top: 25px; _padding-top: 21px;}
#wytw-form #lzm #lzminput{ display: block; float: left; width: 70px; padding-top: 19px; _padding-top: 15px; }
#wytw-form #lzm #lzmimg{ display: block; float: left; padding-top: 20px; _padding-top: 15px; }
#wytw-form #lzm .lzm-input{ height: 18px; width: 60px; }

#wytw-form .tj-button{ background: url(wytw-icon_05.jpg) no-repeat; height: 33px; width: 74px; border: 0px none; color: #FFFFFF; font-size: 14px; font-weight: bold; line-height: 30px; }
#wytw-form .cz-button{ background: url(login-icon_18.jpg) no-repeat; height: 33px; width: 74px; border: 0px none; color: #FFFFFF; font-weight: bold; line-height: 30px; font-size: 14px; }

#wytw-form #tj-cz{ height: 47px; clear:both; }
#wytw-form #tj-cz #tjbutton{ padding-left: 340px; display: block; float: left; }
#wytw-form #tj-cz #czbutton{ display: block; float: left; padding-left: 20px; }

/*鍒嗛〉鏍峰紡*/
.page{ text-align: center; clear: both; height: 30px; padding-top:16px; padding-bottom:9px;  }
.page div{ text-align: center; font-size:14px; padding-left: 300px; }
.page div a{border: 1px solid #d0d0d0; margin-left:3px; display:block; height:22px; line-height: 22px;width:22px;float:left;}
.page div a:hover{ border: 1px solid #d0d0d0; background-color:#efefef; color: #000000; text-decoration: none;}
.page div strong{ color: #e75959;  border: 1px solid #e06b5a; margin-right:3px; margin-left:3px; width:21px;display:block;float:left;font-size:14px; line-height: 22px;height:22px; }
.page div span{width:90px;display:block;float:left;font-size:14px; padding-top:5px;}